body {
    background-image: url('../assets/images/background.jpg');
    background-repeat: repeat;
    background-size: cover;
}

hr {
    height: 1px;
}

.teal {
    background: teal;
    opacity: 0.8;
}

#image {
    opacity: 1.0;
}